.w-layout-blockcontainer,
body {
  margin-left: auto;
  margin-right: auto;
}
h2,
h3 {
  color: var(--dark-text);
  margin-top: 0;
  font-weight: 600;
}
.f-margin-bottom-08,
.f-margin-bottom-134,
.f-margin-bottom-141,
.f-margin-bottom-142,
.f-margin-bottom-49,
.f-margin-bottom-50,
.f-margin-bottom-51,
.f-margin-bottom-52,
.f-margin-bottom-53,
.f-margin-bottom-54,
.f-margin-bottom-56,
.f-margin-bottom-57,
.f-margin-bottom-58,
.f-margin-bottom-59,
.w-form-formrecaptcha,
h3 {
  margin-bottom: 8px;
}
h1,
h4,
ul {
  margin-bottom: 10px;
}
.container,
.w-layout-grid {
  grid-template-rows: auto auto;
}
h1,
h2,
h3 {
  font-weight: 600;
}
.button,
h1 {
  margin-top: 20px;
}
.section-subtitle,
body {
  font-size: 16px;
  line-height: 1.875em;
}
.container,
.social-media-links,
.w-layout-grid {
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}
.container,
.social-media-links,
.w-layout-grid,
.w-layout-layout {
  grid-auto-columns: 1fr;
}
.button,
.label {
  letter-spacing: 1px;
}
.portfolio-preview-text-section.left,
ul {
  padding-left: 40px;
}
.divider-25,
.icon {
  object-fit: fill;
}
#w-node-_037eb3ca-5948-9025-fbce-e3085cc75f2c-61537d08,
#w-node-_10b1a7e1-2298-bc72-62fe-3fd436f88dd3-35818154,
#w-node-_116e6ef2-e6cc-7c7a-0c83-6c50cd089fc8-35818150,
#w-node-_116e6ef2-e6cc-7c7a-0c83-6c50cd089fd4-35818150,
#w-node-_2069c8ca-f9e1-a310-57fe-44527a837b8d-35818150,
#w-node-_226f67e9-f1d8-8bba-43bc-47da60bc1136-35818150,
#w-node-_266ec0bd-e81e-d824-2735-a1b98996ddf3-35818150,
#w-node-_4d97a934-e772-f237-d70b-1b5f472f286c-35818150,
#w-node-_922e6a3a-eb3d-ed2b-4a43-9130314f33b2-35818150,
#w-node-c0761e95-3b30-c9b9-8fc9-974c712deada-35818150,
#w-node-c684878d-29cb-e563-4cd0-a146a03506d3-61537d08,
#w-node-ce1c3b8f-32f0-3b3d-b89f-95f2cfa25c3e-35818150,
#w-node-d9e1ddd7-f291-6577-0e99-9dd3709e15da-35818150,
.impact-icon {
  align-self: center;
}
:root {
  --dark-text: #383838;
  --medium-text: #767676;
  --brand-color: #67955f;
  --white: white;
  --mysky: #669393;
  --wahoowheels: #62859e;
  --market: #7b9376;
  --testkube: #727491;
  --wahoozones: #7796be;
  --spinet: #61a1c2;
  --luna: #87799e;
  --bangbop: #976351;
  --card-background: #a96161;
  --divider: #ececec;
  --orange: #f58116;
  --light-orange: #fff5eb;
  --page-background: #fcfcfc;
  --flowui-component-library--grey-300: #e4e6f1;
  --flowui-component-library--gray-900: #160042;
  --flowui-component-library--gray-200: #f3f5fb;
  --flowui-component-library--white: white;
  --flowui-component-library--gray-700: #282556;
  --flowui-component-library--success-lighter: #ebfff6;
  --flowui-component-library--success-darker: #006638;
  --flowui-component-library--gray-400: #b6b9ce;
  --flowui-component-library--gray-100: #f7f9fd;
  --flowui-component-library--gray-500: #6b7094;
  --ms-bg: #f1f6f6;
  --card-hover: #f2f2f2;
  --button-hover: #5070fd;
  --grey-button: #444;
  --wz-text: #7aa1d1;
}
model-viewer {
  --progress-bar-color: none;
  --progress-bar-height: 0px;
  height: 300px;
}
.logo model-viewer {
  height: 50px;
  width: 50px;
}
.w-layout-blockcontainer {
  max-width: 940px;
  display: block;
}
.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
  padding: 20px;
}
.w-layout-cell,
body {
  flex-direction: column;
}
.w-layout-cell {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  display: grid;
}
body {
  color: var(--dark-text);
  font-family: Inter, sans-serif;
}
h1 {
  color: var(--dark-text);
  font-size: 42px;
  line-height: 1.238em;
}
h2 {
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 1.313em;
}
h3 {
  font-size: 20px;
  line-height: 1.362em;
}
h4 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
p {
  margin-bottom: 0;
}
.text-span-10,
.text-span-11,
.text-span-12,
.text-span-13,
.text-span-14,
.text-span-17,
.text-span-18,
.text-span-19,
.text-span-20,
.text-span-21,
a {
  text-decoration: underline;
}
ul {
  margin-top: 0;
}
img {
  max-width: 100%;
  display: inline-block;
}
.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}
.container.header {
  padding-top: 14px;
  padding-bottom: 14px;
}
.container.button-container {
  display: flex;
}
.navbar {
  cursor: auto;
  background-color: #0000;
  padding-top: 0;
  display: block;
}
.button,
.button.color-primary {
  background-color: var(--brand-color);
}
.nav-link {
  color: var(--medium-text);
  margin: 20px;
  padding: 0;
  transition: 0.2s;
}
.nav-link.w--current,
.nav-link:hover,
.text-block {
  color: var(--brand-color);
}
.nav-link.w--current {
  font-weight: 600;
  text-decoration: none;
}
.button {
  color: var(--white);
  text-align: center;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 12px 40px;
  transition: 0.2s;
  box-shadow: 0 0 6px #0000000f;
}
.button:hover {
  transform: translate(0, -2px);
  box-shadow: 2px 3px 10px 1px #0000000f;
}
.button.button-position {
  border-radius: 40px;
  align-self: flex-end;
  margin-top: 0;
  margin-bottom: 0;
}
.button.top-margin,
.portfolio-image,
.section {
  margin-top: 40px;
}
.button.color-mysky.w--current,
.button.top-margin.color-mysky {
  background-color: var(--mysky);
}
.button.top-margin.color-ww {
  background-color: var(--wahoowheels);
}
.button.top-margin.color-market {
  background-color: var(--market);
}
.button.top-margin.color-testkube {
  background-color: var(--testkube);
}
.button.top-margin.color-parking {
  background-color: var(--wahoozones);
}
.button.top-margin.color-spinet {
  background-color: var(--spinet);
}
.button.top-margin.color-luna {
  background-color: var(--luna);
}
.button.top-margin.color-bangbop {
  background-color: var(--bangbop);
}
.section {
  margin-bottom: 40px;
}
.section.footer {
  cursor: auto;
  margin-top: auto;
  padding-top: 30px;
}
.f-margin-bottom-24.hidden,
.grid-7.hide,
.hide,
.portfolio-preview-card.hide,
.section.hide {
  display: none;
}
.section-subtitle {
  color: var(--medium-text);
  text-align: left;
  align-items: stretch;
  margin-top: 0;
  margin-bottom: 8px;
  margin-right: 6px;
  font-weight: 400;
}
.label {
  color: #76767699;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
}
.icon,
.link-primary {
  color: var(--brand-color);
}
.text-field {
  border-radius: 4px;
  margin-bottom: 30px;
}
.cv-section-title,
.grid-3.comp-grid,
.section-header,
.spacing {
  margin-bottom: 20px;
}
.grid,
.grid-10 {
  grid-template-rows: auto;
}
.form {
  flex-direction: column;
  display: flex;
}
.social-media-links {
  grid-template-rows: auto auto;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;
}
.about-grid,
.brand-guidelines-grid,
.crazy-eights-grid,
.cv-education-grid,
.grid-3,
.grid-5,
.grid-7,
.grid-8,
.grid-persona,
.molecule-grid,
.portfolio-details,
.portfolio-preview-card,
.usability-testing-grid {
  grid-template-rows: auto;
}
.social-media {
  cursor: auto;
  display: flex;
}
.rounded-image {
  border-radius: 27px;
  width: 100%;
}
.cv-portfolio-image,
.success-message {
  border-radius: 20px;
}
.hero-content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.link-primary-wrapper {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  display: flex;
}
.link-primary-text {
  margin-right: 2px;
}
.cv-subheading,
.divider-25,
.portfolio-details {
  margin-left: auto;
  margin-right: auto;
}
.link-primary-text-arrow {
  font-family: Materialicons, sans-serif;
  font-size: 20px;
  display: block;
  position: relative;
  top: 0;
}
.link-primary {
  margin-top: 6px;
  font-weight: 600;
  line-height: 1.125em;
  text-decoration: none;
  display: flex;
}
.link-primary.inline-link {
  margin-left: 8px;
  display: inline-block;
}
.body-2,
.color-black,
.email-link,
.heading-14,
.social-icon {
  color: var(--dark-text);
}
.project-preview-title {
  margin-bottom: 16px;
  font-weight: 500;
}
.footer-wrapper {
  align-items: center;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.about-grid {
  grid-column-gap: 60px;
  grid-template-columns: 1fr 0.5fr;
}
.email-link {
  text-decoration: none;
  justify-self: right;
}
.success-message {
  background-color: var(--card-background);
}
.divider,
.divider-25 {
  background-color: var(--divider);
  height: 1px;
}
.project-preview-category {
  color: var(--medium-text);
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
}
.portfolio-page-title {
  text-align: center;
  font-weight: 500;
}
.portfolio-page-subtitle {
  text-align: center;
  font-weight: 400;
}
.portfolio-hero-section,
.portfolio-section {
  margin-top: 20px;
  margin-bottom: 60px;
}
.portfolio-image.comp-card {
  border-radius: 15px;
  box-shadow: 3px 3px 10px 1px #0000000f;
}
.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3.comp-grid {
  margin-top: 20px;
}
.portfolio-tag {
  color: var(--brand-color);
  text-align: left;
  font-weight: 500;
}
.portfolio-tag.color-grey {
  color: #a8a8a8;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.grid-5 {
  margin-top: 16px;
}
.bottom-margin-40,
.f-margin-bottom-139,
.f-margin-bottom-40 {
  margin-bottom: 40px;
}
.divider-25 {
  width: 25vw;
  margin-top: 20px;
}
.portfolio-details {
  grid-column-gap: 0px;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: stretch;
  max-width: 1000px;
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
}
.portfolio-detail-right {
  text-align: left;
}
.paragraph.right,
.portfolio-detail-left {
  text-align: right;
}
.divider {
  width: 100%;
}
.cv-heading {
  text-align: center;
  margin-bottom: 8px;
}
.cv-education-grid,
.cv-experience,
.molecule-grid {
  margin-bottom: 30px;
  margin-top: 30px;
}
.cv-subheading {
  text-align: center;
  max-width: 640px;
}
.heading-2 {
  color: var(--dark-text);
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5em;
}
.cv-tag,
.emphasis {
  font-weight: 500;
  text-align: center;
}
.cv-details {
  font-size: 14px;
}
.cv-education-grid {
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.div-block-2 {
  flex-direction: column;
  padding-bottom: 20px;
  display: block;
}
.molecule-grid {
  grid-template-columns: 1fr 1.5fr;
}
.molecule-image {
  border: 2px solid var(--divider);
  border-radius: 10px;
}
.brand-guidelines-grid {
  grid-template-columns: 1.5fr 1.5fr;
}
.brand-guidelines-copy {
  flex-direction: column;
  justify-content: center;
  padding-left: 48px;
  display: flex;
}
.cv-tag {
  color: var(--brand-color);
}
.div-block-7 {
  justify-content: center;
  align-items: stretch;
  display: flex;
}
.benenox-image {
  border-radius: 19px;
  box-shadow: 5px 5px 12px #0000001a;
}
.benenox-grid {
  margin-top: 30px;
}
.grid-7 {
  align-items: center;
}
.grid-8 {
  grid-template-columns: 1fr minmax(200px, min-content) 1fr;
  place-items: center;
}
.portfolio-preview-card {
  grid-column-gap: 0px;
  background-color: var(--white);
  cursor: auto;
  border-radius: 27px;
  align-items: center;
  margin-bottom: 56px;
  box-shadow: 3px 3px 10px 1px #0000000f;
}
.portfolio-preview-image {
  overflow: hidden;
}
.portfolio-preview-image.grid-position-first {
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
}
.portfolio-preview-image.grid-position-last {
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
}
.portfolio-preview-text-section {
  padding: 20px 60px;
}
.portfolio-preview-text-section.right {
  text-align: right;
  padding-right: 40px;
}
.emphasis {
  color: var(--dark-text);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}
.pros-and-cons,
.tag-label,
.text-span-4 {
  font-weight: 600;
}
.portfolio-section-title {
  margin-top: 48px;
  margin-bottom: 48px;
}
.flex-container {
  flex-direction: column;
  align-items: center;
  max-width: 893px;
  display: flex;
}
.align-center,
.code-embed {
  text-align: center;
}
.align-center.portfolio-section-subtitle {
  max-width: 590px;
}
.paragraph,
.paragraph-2,
.paragraph-3 {
  display: inline;
}
.plan-step {
  flex-wrap: nowrap;
  display: block;
}
.html-embed {
  text-align: center;
  position: relative;
  top: 6px;
}
.div-block-10 {
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
}
.div-block-11 {
  margin-top: 8px;
}
.insight-grid {
  margin-top: 37px;
}
.tag-line {
  flex-flow: row;
  justify-content: flex-end;
  margin-bottom: 12px;
  display: flex;
}
.tag-icon {
  padding-left: 8px;
  padding-right: 4px;
  position: relative;
  top: -1.5px;
}
.tag-label {
  padding-right: 8px;
  font-size: 12px;
  line-height: 22px;
}
.list-item,
.paragraph-small {
  line-height: 1.5em;
  font-size: 14px;
}
.tag-label.color-orange {
  color: var(--orange);
}
.tag {
  background-color: #5f7cff33;
  border-radius: 30px;
  height: 20px;
  display: flex;
}
.tag.color-orange {
  background-color: var(--light-orange);
}
.insight-card {
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  padding: 16px 24px 24px;
  box-shadow: 2px 3px 10px 1px #0000000f;
}
.grid-persona.drop-shadow,
.impact-item.drop-shadow,
.problem-statement.drop-shadow,
.wireframe {
  box-shadow: 3px 3px 10px 1px #0000000f;
}
.usability-testing-grid {
  grid-template-columns: 2fr 1fr;
  margin-top: 32px;
}
.div-block-12 {
  align-items: center;
  display: flex;
}
.image-82 {
  padding-right: 16px;
}
.grid-persona {
  border-radius: 30px;
  grid-template-columns: 0.63fr 1fr;
  overflow: hidden;
}
.grid-persona.drop-shadow {
  grid-column-gap: 0px;
  min-height: 526px;
  margin-top: 32px;
}
.paragraph-small {
  margin-top: 8px;
}
.f-margin-bottom-138,
.f-margin-bottom-140,
.f-margin-bottom-24,
.persona-section {
  margin-bottom: 24px;
}
.list-item {
  margin-bottom: 8px;
}
.persona-text {
  flex-direction: column;
  justify-content: center;
  margin: 48px 48px 24px;
  display: flex;
}
.list {
  padding-left: 32px;
}
.div-block-13 {
  position: absolute;
  inset: auto auto 8% 12%;
}
.persona-title {
  color: var(--white);
  max-width: 150px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 1.2em;
}
.persona-signature {
  color: var(--white);
  margin-bottom: 17px;
  font-family: Paul signature, sans-serif;
  font-size: 44px;
}
.problem-statement {
  border: 1px solid var(--card-background);
  border-radius: 15px;
  padding: 24px;
}
.problem-statement.drop-shadow {
  margin-top: 48px;
}
.crazy-eights-grid {
  grid-column-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 32px;
}
.wireframe-grid {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin: -16px 24px 80px;
}
.grid-9,
.divider-small {
  background-color: var(--divider);
  width: 30%;
  height: 1px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}
.feature-grid {
  grid-row-gap: 48px;
  grid-template-rows: auto;
}
.feature-detail {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  display: flex;
}
.feature-detail.feature-detail-left {
  padding-right: 62px;
}
.impact-item {
  border-radius: 15px;
  margin-top: 16px;
  padding: 16px 24px;
  display: flex;
}
.body {
  background-color: var(--page-background);
}
.impact-icon {
  max-width: 81px;
  margin-right: 16px;
}
.margin-16px {
  padding-top: 8px;
  padding-bottom: 8px;
}
.margin-48px {
  padding-top: 24px;
  padding-bottom: 24px;
}
.molecule-div {
  max-width: 100%;
}
.portfolio-large-image-section {
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}
.large-image-container {
  max-width: 1000px;
}
.user-flow-image {
  max-height: 90vh;
}
.div-block-19,
.user-flow-div {
  flex-direction: column;
  align-items: center;
  display: flex;
}
.wireframe {
  border-radius: 8px;
}
.f-margin-bottom-133,
.f-margin-bottom-137,
.f-margin-bottom-32,
.f-margin-bottom-55,
.image.margin-bottom {
  margin-bottom: 32px;
}
.grid-9 {
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  margin-top: 20px;
}
.grid-3-comp-study {
  grid-template-rows: auto;
  margin-top: 20px;
}
.link-cc {
  color: var(--wahoowheels);
  text-decoration: underline;
}
.grid-3-comp-study {
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 14px;
  line-height: 1.5em;
}
.pros-and-cons {
  color: var(--dark-text);
  line-height: 2em;
}
.grid-4-swot,
.paragraph-5 {
  margin-top: 20px;
}
.div-block-14 {
  justify-content: center;
  display: flex;
}
.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}
.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}
.hero-heading-left-4,
.mysky {
  width: 100%;
  text-decoration: none;
  display: flex;
}
.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}
.grid-4-swot {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  line-height: 1.5em;
}
.div-block-15 {
  height: 150px;
  display: flex;
}
.div-block-16,
.div-block-17 {
  padding-left: 20px;
}
.image-persona-ww {
  flex: none;
  max-width: 35%;
  max-height: 100%;
}
.div-block-18 {
  padding-right: 20px;
}
.heading-4 {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 500;
}
.top-padding {
  padding-top: 20px;
}
.emphasis-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.hero-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 0.75fr;
}
.logo {
  margin: auto;
  padding: 8px 20px;
}
.mysky {
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.hero-heading-left-4 {
  grid-column-gap: 80px;
  background-color: #dee8e7;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
}
.hero-w-image {
  grid-column-gap: 40px;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  text-decoration: none;
  display: flex;
}
.mysky-column {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}
.column-12 {
  grid-column-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}
.image-wrapper-9,
.metrics {
  flex-direction: column;
  width: 100%;
}
.image-wrapper-9 {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}
.mysky-image {
  object-fit: contain;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}
.metrics {
  grid-row-gap: 32px;
  background-color: #c2d4d3;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}
.metric-3,
.small-container-7 {
  flex-direction: column;
  display: flex;
}
.metric-value-2,
.text-3 {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  text-decoration: none;
  text-align: center;
}
.small-container-7 {
  grid-row-gap: 24px;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 960px;
  height: 91px;
  text-decoration: none;
}
.columns-5 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}
.metric-3 {
  grid-row-gap: 4px;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  text-decoration: none;
}
.text-3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}
.metric-value-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
}
.h2,
.h3 {
  color: #000;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 0;
  margin-top: 0;
}
.small-container {
  grid-row-gap: 40px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  padding: 32px;
  text-decoration: none;
  display: flex;
}
.small-container.no-padding {
  padding-bottom: 0;
}
.content {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}
.hero-no-image,
.image-wrapper-11 {
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  display: flex;
}
.h2 {
  font-size: 32px;
  text-decoration: none;
}
.hero-no-image {
  grid-row-gap: 80px;
  background-color: #fff;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
}
.h3 {
  font-size: 24px;
  text-decoration: none;
}
.image-wrapper-11 {
  justify-content: center;
  align-items: center;
  max-width: 560px;
  height: 392.9px;
}
.image-wrapper-12 {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 817px;
  height: 393px;
  text-decoration: none;
  display: flex;
}
.link {
  color: var(--brand-color);
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.f-image-cover {
  object-fit: cover;
  min-width: 100%;
  height: 100%;
}
.f-gallery-image-side {
  height: 400px;
}
.f-gallery-lightbox-small {
  width: 100%;
}
.f-gallery-image-x-tall {
  height: 550px;
}
.f-gallery-lightbox,
.f-gallery-lightbox-2 {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.f-gallery-three-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}
.f-h3-heading {
  color: var(--dark-text);
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 1.2;
}
.f-heading-detail-small {
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.color-ms,
.f-heading-detail-small-3.color-mysky,
.f-heading-detail-small.color-mysky {
  color: var(--mysky);
}
.f-heading-detail-small.color-cavchow {
  color: var(--wahoowheels);
}
.f-title-wrapper-center,
.f-title-wrapper-center-2,
.f-title-wrapper-center-3,
.f-title-wrapper-center-4,
.f-title-wrapper-center-5 {
  z-index: 5;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}
.f-margin-bottom-143,
.f-margin-bottom-48 {
  margin-bottom: 48px;
}
.f-container-regular,
.f-container-regular-2,
.f-container-regular-3,
.f-container-regular-4,
.f-container-regular-5 {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.f-section-large {
  padding-top: 92px;
  padding-bottom: 0;
  position: relative;
}
.f-button-neutral,
.f-button-neutral-2,
.f-button-neutral-3,
.f-button-secondary,
.f-button-secondary-2 {
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -0.02em;
  min-height: 48px;
  display: flex;
}
.f-gallery-image-s {
  height: 300px;
}
.f-gallery-image-tall {
  height: 640px;
}
.f-gallery-two-column {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}
.f-gallery-three-column,
.f-grid-three-column-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}
.f-gallery-image-l {
  border-radius: 8px;
  height: 500px;
  overflow: hidden;
}
.f-gallery-image-x-small-square {
  height: 255px;
}
.f-gallery-two-column-s,
.f-gallery-two-column-s-2,
.f-header-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.f-gallery-image {
  height: 450px;
}
.f-button-secondary,
.f-button-secondary-2 {
  border: 1px solid var(--flowui-component-library--grey-300);
  color: var(--flowui-component-library--gray-900);
  background-color: #fff;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s, background-color 0.3s;
}
.f-button-secondary-2:hover,
.f-button-secondary:hover {
  background-color: var(--flowui-component-library--gray-200);
  border-color: #0000;
}
.f-button-neutral,
.f-button-neutral-2,
.f-button-neutral-3 {
  background-color: var(--flowui-component-library--gray-900);
  color: var(--flowui-component-library--white);
  text-align: center;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.f-button-neutral-2:hover,
.f-button-neutral-3:hover,
.f-button-neutral:hover {
  background-color: var(--flowui-component-library--gray-700);
}
.f-button-wrapper,
.f-header-button-wrapper,
.f-header-button-wrapper-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}
.f-paragraph-large,
.f-paragraph-large-2,
.f-paragraph-large-3,
.f-paragraph-large-4 {
  letter-spacing: -0.02em;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 32px;
}
.f-h1-heading {
  color: var(--dark-text);
  letter-spacing: -0.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  line-height: 1.2;
}
.f-heading-detail-small-2 {
  color: var(--mysky);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.f-image-cover-2,
.f-image-full {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.f-header-image-wrapper-tall,
.f-header-image-wrapper-tall-2 {
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  height: 630px;
  overflow: hidden;
}
.f-section-large-2,
.f-section-large-3,
.f-section-large-normal {
  padding: 92px 5% 0;
  position: relative;
}
.f-header-image-wrapper-wide {
  object-fit: fill;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  overflow: hidden;
}
.f-grid-three-column,
.f-header-logo-grid {
  margin-top: 56px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.f-success-message,
.f-success-message-2 {
  background-color: var(--flowui-component-library--success-lighter);
  color: var(--flowui-component-library--success-darker);
  letter-spacing: -0.03em;
  font-size: 14px;
  line-height: 24px;
}
.f-header-input-field,
.f-header-input-field-2 {
  color: var(--flowui-component-library--gray-900);
  background-color: #0000;
  border: 1px #000;
  min-height: 48px;
  margin-bottom: 0;
  margin-right: 16px;
  padding: 12px 16px;
}
.f-header-input-field::placeholder {
  color: var(--flowui-component-library--gray-400);
}
.f-header-form-wrapper,
.f-header-form-wrapper-2 {
  border: 1px solid var(--flowui-component-library--grey-300);
  background-color: #fff;
  border-radius: 50px;
  align-items: center;
  padding: 4px;
  display: flex;
}
.f-header-form-block,
.f-header-form-block-2 {
  max-width: 360px;
  margin-bottom: 0;
}
.f-header-title-wrapper-center,
.f-header-title-wrapper-center-2 {
  z-index: 5;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}
.cursor-wrapper,
.f-header-logo-wrap {
  justify-content: center;
  display: flex;
}
.f-header-logo-wrap {
  border: 1px solid var(--flowui-component-library--gray-200);
  background-color: #fff;
  border-radius: 6px;
  align-items: center;
  padding: 32px 60px;
  transition: box-shadow 0.3s, border-color 0.3s;
}
.f-header-logo-wrap:hover {
  border-color: #0000;
  box-shadow: 23px 23px 64px -16px #393b6a0f;
}
.f-header-logo-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.f-header-wrapper-left {
  max-width: 620px;
}
.f-paragraph-small,
.f-paragraph-small-2,
.f-paragraph-small-3 {
  letter-spacing: -0.01em;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.8;
}
.f-sub-heading-large,
.f-sub-heading-large-3 {
  color: var(--dark-text);
  letter-spacing: -0.02em;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.f-feature-icon-wrapper,
.f-feature-icon-wrapper-2,
.f-feature-icon-wrapper-3 {
  background-color: var(--flowui-component-library--gray-100);
  border-radius: 8px;
  width: 72px;
  min-width: 72px;
  height: 72px;
  min-height: 72px;
  margin-bottom: 32px;
  padding: 16px;
}
.f-grid-three-column {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}
.f-grid-three-column.f-margin-bottom-56 {
  margin-bottom: 56px;
}
.f-h3-heading-2 {
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 1.2;
}
.f-margin-bottom-132,
.f-margin-bottom-135,
.f-margin-bottom-16 {
  margin-bottom: 16px;
}
.f-margin-bottom-128,
.f-margin-bottom-131,
.f-margin-bottom-136 {
  margin-bottom: 128px;
}
.f-sub-heading-large-2 {
  color: var(--flowui-component-library--gray-900);
  letter-spacing: -0.02em;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.f-margin-bottom-129 {
  margin-bottom: 129px;
}
.f-grid-four-columns,
.f-grid-four-columns-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.f-h3-heading-3 {
  color: var(--dark-text);
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 1.2;
}
.f-margin-bottom-130 {
  margin-bottom: 130px;
}
.f-heading-detail-small-3,
.f-heading-detail-small-4,
.f-heading-detail-small-5 {
  color: var(--flowui-component-library--gray-500);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.f-h5-heading {
  color: var(--dark-text);
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.4;
}
.f-h1-heading-2,
.f-h1-heading-3,
.f-h3-heading-4,
.f-h3-heading-5 {
  color: var(--flowui-component-library--gray-900);
  margin-top: 0;
  line-height: 1.2;
}
.f-feature-icon-wrapper-white {
  background-color: #fff;
  border-radius: 8px;
  width: 72px;
  min-width: 72px;
  height: 72px;
  min-height: 72px;
  margin-bottom: 40px;
  padding: 16px;
}
.f-feature-card-filled {
  background-color: var(--flowui-component-library--gray-100);
  border-radius: 12px;
  padding: 32px;
}
.f-feature-card-filled.color-ms {
  background-color: var(--ms-bg);
  color: var(--dark-text);
}
.f-h3-heading-4,
.f-h3-heading-5 {
  letter-spacing: -0.02em;
  margin-bottom: 0;
  font-size: 48px;
}
.f-margin-bottom-12 {
  margin-bottom: 12px;
}
.f-max-width-large {
  max-width: 610px;
}
.f-header-grid-asymmetrical {
  grid-column-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 0.75fr;
}
.f-margin-bottom-64 {
  margin-bottom: 64px;
}
.f-section-large-5,
.f-section-large-margins {
  padding: 92px 5%;
  position: relative;
}
.f-image-cover-3,
.f-image-cover-4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.f-h1-heading-2,
.f-h1-heading-3 {
  letter-spacing: -0.04em;
  margin-bottom: 0;
  font-size: 64px;
}
.f-header-grid-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  place-items: start stretch;
}
.f-section-large-6 {
  padding: 92px 5% 40px;
  position: relative;
}
.f-image-fit {
  object-fit: contain;
}
.underline {
  color: var(--dark-text);
  font-style: normal;
  text-decoration: underline;
}
.cursor-wrapper {
  z-index: -1;
  align-items: center;
  position: fixed;
  inset: 0%;
}
.cursor {
  object-fit: fill;
  background-image: radial-gradient(
    circle closest-side,
    #ddd4d6,
    #e1e9db 51%,
    #fcfcfc
  );
  border-radius: 100%;
  width: 700px;
  height: 700px;
}
.project-preview-tag {
  color: var(--medium-text);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  font-style: italic;
}
.hero-text {
  margin-right: 10px;
}
.f-header-input-field-2::placeholder {
  color: var(--flowui-component-library--gray-400);
}
.f-header-image-wrapper-top {
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 350px;
  display: flex;
  overflow: hidden;
}
.grid-5-col {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 20px;
}
.grid-2-col {
  grid-row-gap: 16px;
}
.grid-11 {
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  place-content: center;
}
@media screen and (min-width: 1280px) {
  .underline,
  body {
    color: var(--dark-text);
  }
  .button.top-margin.color-spinet {
    background-color: var(--spinet);
  }
  .f-section-large-normal {
    margin-left: 170px;
    margin-right: 170px;
    padding-left: 3%;
    padding-right: 3%;
  }
}
#w-node-e681d5d5-b843-4f0c-7ac7-15cd44cbbc7a-35818150 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}
#w-node-_031f037f-606b-245a-23df-815169c1ba7b-35818150 {
  grid-row: span 2 / span 2;
}
#w-node-_2069c8ca-f9e1-a310-57fe-44527a837ba8-35818150,
#w-node-_21b96859-2655-f7ad-58e1-2f24a5313c99-61537d08,
#w-node-_368b0bbf-db7b-c828-3160-8c05969859d3-61537d08,
#w-node-_5e3702ad-a4f6-572c-9932-e59b747e1b0a-35818154 {
  place-self: center;
}
#w-node-_116e6ef2-e6cc-7c7a-0c83-6c50cd089fd2-35818150,
#w-node-_266ec0bd-e81e-d824-2735-a1b98996ddf1-35818150,
#w-node-_922e6a3a-eb3d-ed2b-4a43-9130314f33b0-35818150,
#w-node-c0761e95-3b30-c9b9-8fc9-974c712dead8-35818150 {
  order: 9999;
}
#w-node-_010b8de5-6684-2440-d9fd-fa101f49aecf-35818159,
#w-node-_068818a8-9144-1bfe-f6eb-10d34779e1fa-61537d08,
#w-node-_086ff372-f47b-d6ff-96c2-b99cab9df867-35818159,
#w-node-_086ff372-f47b-d6ff-96c2-b99cab9df868-35818159,
#w-node-_08d66ecf-6a9b-ff4a-b6e7-28a0206557af-35818159,
#w-node-_113d9e53-dd12-25b5-d4a9-c83269820438-41c019fa,
#w-node-_138dbe69-660f-ec97-2c84-7c73315fe94f-61537d08,
#w-node-_14f886b0-b893-726e-adb5-9c5473bdb21a-35818159,
#w-node-_1826f4d4-a681-8838-8679-a24beee33009-41c019fa,
#w-node-_214644b2-0099-45eb-7db7-9d09c5862444-35818159,
#w-node-_214644b2-0099-45eb-7db7-9d09c5862445-35818159,
#w-node-_214644b2-0099-45eb-7db7-9d09c5862447-35818159,
#w-node-_27396012-58ac-62a4-a6cd-15a3905f0d17-35818159,
#w-node-_2c56858a-b09c-f963-59d8-230eaa27e6bb-41c019fa,
#w-node-_2c56858a-b09c-f963-59d8-230eaa27e6bb-61537d08,
#w-node-_2e451478-cf30-581c-963c-a9948ee40582-35818159,
#w-node-_3099e573-fedc-db42-76e7-83347207712f-41c019fa,
#w-node-_30f040f5-5aa3-7161-c0af-14dcdf9bd3f5-35818159,
#w-node-_3e7aa528-053c-f6d4-fcce-b4d6df04c722-41c019fa,
#w-node-_4266ecc8-5547-eb28-e89e-04ee0a2261ab-61537d08,
#w-node-_4266ecc8-5547-eb28-e89e-04ee0a2261e1-61537d08,
#w-node-_43df5a20-6179-2f98-f9bd-b2aa6387ce31-61537d08,
#w-node-_470d89fc-37d2-cb91-c60f-01640438214b-35818159,
#w-node-_470d89fc-37d2-cb91-c60f-01640438214c-35818159,
#w-node-_470d89fc-37d2-cb91-c60f-01640438214e-35818159,
#w-node-_4ab82879-f159-e0f6-0bab-52d300e6527c-41c019fa,
#w-node-_547523f1-226e-1e8a-ddf1-9e4f33b34930-61537d08,
#w-node-_6dfb20d3-8728-9ac7-c557-eb295de2acfa-61537d08,
#w-node-_784537b8-c9b1-aae5-a456-bc1d429058c4-35818159,
#w-node-_784537b8-c9b1-aae5-a456-bc1d429058c9-35818159,
#w-node-_784537b8-c9b1-aae5-a456-bc1d429058cc-35818159,
#w-node-_784537b8-c9b1-aae5-a456-bc1d429058ce-35818159,
#w-node-_784537b8-c9b1-aae5-a456-bc1d429058d1-35818159,
#w-node-_784537b8-c9b1-aae5-a456-bc1d429058d3-35818159,
#w-node-_7f480a8b-ff4d-db3d-f2b7-6d4a5624f796-61537d08,
#w-node-_862cacb3-3c63-b097-d96e-43cdac612069-61537d08,
#w-node-_8e361ab7-2327-ddb3-ba8f-723ce49180e2-41c019fa,
#w-node-_8e361ab7-2327-ddb3-ba8f-723ce49180e2-61537d08,
#w-node-_8efe06c8-1b9c-6412-7f7c-8e6b1bcbcc70-41c019fa,
#w-node-_8efe06c8-1b9c-6412-7f7c-8e6b1bcbcc70-61537d08,
#w-node-a7f5e747-6e9d-3222-6359-85ace03baf62-41c019fa,
#w-node-af99e547-8bdc-6890-c9fd-53ca88f8bb79-35818159,
#w-node-bf639364-103c-ca60-1008-92e5a33f1e5f-41c019fa,
#w-node-c76934b5-4f2c-9962-7adc-5c64042b0e2a-61537d08,
#w-node-c9a8c739-bda7-e2b4-d07f-9c207bd38796-61537d08,
#w-node-cbecd05c-4433-4f98-e609-5d8d19f939b9-35818159,
#w-node-cfe79f27-da80-70e7-3af8-9d838906e3a6-41c019fa,
#w-node-d06e31bf-645c-6269-15f6-2594f83d053f-41c019fa,
#w-node-d926f812-d9d9-28c7-c0ef-ad0f8e992fed-41c019fa,
#w-node-e9dd5f65-b60d-61b0-569c-19b9f7ef2b3e-41c019fa,
#w-node-e9dd5f65-b60d-61b0-569c-19b9f7ef2b3e-61537d08,
#w-node-f06425f1-a5fb-643d-f36f-6084ea27f98c-41c019fa,
#w-node-f06425f1-a5fb-643d-f36f-6084ea27f98c-61537d08,
#w-node-f134e2d6-91b3-fc47-f7d1-f7e40bef07de-61537d08,
#w-node-fc4041ef-2b01-ff9f-43c8-9693a716d747-35818159 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
#w-node-_7e7ead68-de71-ef54-79e0-ce90b8e204bc-41c019fa,
#w-node-_7e7ead68-de71-ef54-79e0-ce90b8e204bc-61537d08 {
  justify-self: end;
}
#w-node-_02ae4b3a-527f-9abf-4828-e9195fc62895-5ff4204c {
  grid-area: span 2 / span 1 / span 2 / span 1;
}
#w-node-_1635961a-b357-bd33-7a78-c8a5c2df6436-61537d08,
#w-node-_4e8a8b45-0d65-2aac-b33b-dd68a0c7e9c6-61537d08,
#w-node-_5eb5f05e-4d25-f9a6-4398-bfc571725686-61537d08,
#w-node-c7d683c1-0a4d-a4cb-5cb3-cccd73239f2e-61537d08 {
  justify-self: center;
}
@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
  .nav-link,
  .nav-menu {
    color: var(--dark-text);
  }
  .menu-button.w--open,
  .nav-menu {
    background-color: var(--white);
  }
  .container,
  .flex-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav-link {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .button,
  .button.top-margin.color-parking {
    font-size: 14px;
  }
  .button {
    margin-bottom: 0;
    padding: 10px 30px;
  }
  .button.top-margin {
    margin-top: 32px;
  }
  .section {
    margin-top: 26px;
    margin-bottom: 26px;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .menu-button {
    color: #7c6363;
  }
  .icon {
    color: var(--dark-text);
    padding-top: 5px;
  }
  .project-preview-title {
    font-size: 22px;
    line-height: 1.362em;
  }
  .about-grid {
    grid-column-gap: 30px;
    grid-template-columns: 0.9fr 0.5fr;
    justify-items: stretch;
  }
  .brand-guidelines-grid {
    grid-row-gap: 42px;
    grid-template-columns: 1fr;
  }
  .f-gallery-three-column,
  .f-gallery-three-grid,
  .f-gallery-two-column {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
  .brand-guidelines-copy {
    padding-left: 0;
  }
  .portfolio-preview-text-section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .portfolio-preview-text-section.left {
    padding-left: 30px;
  }
  .portfolio-preview-text-section.right {
    padding-right: 30px;
  }
  .div-block-13 {
    bottom: 6%;
  }
  .portfolio-large-image-section {
    margin-top: 16px;
  }
  .hero-w-image {
    flex-direction: column;
    align-items: center;
  }
  .image-wrapper-9 {
    margin-top: 40px;
  }
  .mysky-image {
    flex: 1;
    width: 50%;
  }
  .f-gallery-image-side {
    height: 240px;
  }
  .f-gallery-image-x-tall {
    height: 440px;
  }
  .f-gallery-three-column,
  .f-grid-four-columns,
  .f-grid-four-columns-2,
  .f-grid-three-column,
  .f-grid-three-column-2,
  .f-header-logo-grid {
    grid-template-columns: 1fr 1fr;
  }
  .f-gallery-two-column-s,
  .f-gallery-two-column-s-2 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr;
  }
  .f-gallery-image,
  .f-gallery-image-2 {
    height: 350px;
  }
  .f-header-image-wrapper-tall,
  .f-header-image-wrapper-tall-2 {
    max-width: none;
    height: 360px;
  }
  .f-header-grid,
  .f-header-grid-asymmetrical {
    grid-template-columns: 1fr;
  }
  .f-grid-three-column {
    grid-row-gap: 18px;
  }
  .f-header-grid-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }
  .project-preview-tag {
    letter-spacing: 1px;
    font-size: 10px;
  }
  #w-node-_2c95b5bc-4024-2af3-2888-de3f306c4edd-35818154,
  #w-node-_6c0c9862-df0a-6144-83b0-cd4cb9e677e6-5ff4204c,
  #w-node-_8a61f7f7-97ea-a288-751c-57945a2a6475-35818154 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
  #w-node-_7e7ead68-de71-ef54-79e0-ce90b8e204ab-41c019fa,
  #w-node-_7e7ead68-de71-ef54-79e0-ce90b8e204ab-61537d08 {
    order: -9999;
  }
  #w-node-_7e7ead68-de71-ef54-79e0-ce90b8e204bc-41c019fa,
  #w-node-_7e7ead68-de71-ef54-79e0-ce90b8e204bc-61537d08 {
    justify-self: center;
  }
}
@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
  .button.top-margin.color-market,
  .hero-grid,
  .rounded-image {
    display: inline-block;
  }
  .portfolio-preview-image,
  .portfolio-preview-image.grid-position-first {
    border-bottom-left-radius: 0;
  }
  .portfolio-preview-text-section,
  .portfolio-preview-text-section.right {
    text-align: center;
    padding-right: 20px;
  }
  .about-grid,
  .cv-education-grid,
  .f-gallery-three-column,
  .f-gallery-three-grid,
  .f-gallery-two-column-s,
  .f-gallery-two-column-s-2,
  .f-grid-four-columns,
  .f-grid-four-columns-2,
  .f-grid-three-column,
  .f-grid-three-column-2,
  .grid-3,
  .grid-3-comp-study,
  .grid-4-swot,
  .grid-5,
  .grid-7,
  .grid-9,
  .grid-persona.drop-shadow,
  .insight-grid,
  .molecule-grid,
  .portfolio-preview-card {
    grid-template-columns: 1fr;
  }
  .button.top-margin {
    margin-top: 10px;
  }
  .button.color-mysky.f-margin-bottom-16.w--current,
  .impact-icon {
    margin-bottom: 16px;
  }
  .hero-content,
  .link-primary,
  .section-subtitle {
    margin-bottom: 10px;
  }
  .section-subtitle {
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
  .rounded-image {
    max-height: 400px;
  }
  .rounded-image.home {
    max-width: 80%;
    max-height: 500px;
  }
  .hero-content {
    align-items: center;
    margin-top: 14px;
  }
  .link-primary.inline-link {
    margin-left: 0;
    display: block;
  }
  .project-preview-title {
    text-align: center;
    font-size: 32px;
  }
  .footer-wrapper {
    align-items: center;
  }
  .about-grid {
    grid-auto-flow: row;
    justify-items: center;
  }
  .cv-education-grid,
  .div-block-center,
  .project-preview-category {
    text-align: center;
  }
  .grid-3.comp-grid,
  .portfolio-preview-card {
    grid-row-gap: 0px;
  }
  .grid-5 {
    grid-row-gap: 26px;
    margin-top: 20px;
  }
  .bottom-margin-40 {
    margin-bottom: 20px;
  }
  .portfolio-preview-image {
    border-top-right-radius: 27px;
  }
  .portfolio-preview-image.grid-position-last {
    border-top-left-radius: 27px;
    border-bottom-right-radius: 0;
  }
  .portfolio-preview-text-section {
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .portfolio-preview-text-section.left {
    padding-left: 20px;
  }
  .hide {
    display: none;
  }
  .portfolio-section-title {
    margin-top: 32px;
  }
  .usability-testing-grid {
    grid-template-columns: 2fr;
  }
  .crazy-eights-grid,
  .wireframe-grid {
    grid-template-columns: 1fr 1fr;
  }
  .image-82 {
    margin-top: 16px;
    padding-bottom: 32px;
    padding-left: 128px;
    padding-right: 128px;
  }
  .grid-persona.drop-shadow {
    grid-row-gap: 16px;
  }
  .persona-text {
    margin: auto 24px;
  }
  .div-block-13 {
    left: 8%;
  }
  .wireframe-grid {
    margin-left: 16px;
    margin-right: 16px;
  }
  .feature-grid {
    grid-row-gap: 8px;
    grid-template-columns: 1fr;
  }
  .feature-detail.feature-detail-left {
    text-align: left;
    padding-right: 0;
  }
  .impact-item.drop-shadow {
    text-align: center;
    flex-direction: column;
  }
  .columns-5 {
    flex-direction: column;
    align-items: center;
  }
  .f-h3-heading,
  .f-h3-heading-2,
  .f-h3-heading-3,
  .f-h3-heading-4,
  .f-h3-heading-5 {
    font-size: 40px;
  }
  .f-section-large,
  .f-section-large-2,
  .f-section-large-3,
  .f-section-large-5,
  .f-section-large-6,
  .f-section-large-margins {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .f-gallery-image-s {
    height: 180px;
  }
  .f-gallery-image-tall {
    height: 100%;
  }
  .f-gallery-image-l {
    height: 420px;
  }
  .f-h1-heading,
  .f-h1-heading-2,
  .f-h1-heading-3 {
    margin-top: 0;
    font-size: 48px;
  }
  .f-header-image-wrapper-tall,
  .f-header-image-wrapper-tall-2 {
    height: 400px;
  }
  .f-section-large-normal {
    padding-top: 72px;
    padding-bottom: 0;
  }
  .project-preview-tag {
    text-align: center;
    letter-spacing: 2px;
  }
  .f-header-image-wrapper-top {
    height: 490px;
  }
  #w-node-_116e6ef2-e6cc-7c7a-0c83-6c50cd089fd2-35818150,
  #w-node-_16e9dda3-0464-1b0d-4397-481a10231788-35818157,
  #w-node-_1f7256e1-be95-5da2-e333-b863fab567ec-35818157,
  #w-node-_1f7256e1-be95-5da2-e333-b863fab567f1-35818157,
  #w-node-_266ec0bd-e81e-d824-2735-a1b98996ddf1-35818150,
  #w-node-_922e6a3a-eb3d-ed2b-4a43-9130314f33b0-35818150,
  #w-node-bf46d1bc-1f9d-a822-726d-a05ff92fde2c-35818157,
  #w-node-bf46d1bc-1f9d-a822-726d-a05ff92fde31-35818157,
  #w-node-c0761e95-3b30-c9b9-8fc9-974c712dead8-35818150 {
    order: -9999;
  }
  #w-node-_266ec0bd-e81e-d824-2735-a1b98996ddf3-35818150,
  #w-node-_4d97a934-e772-f237-d70b-1b5f472f286c-35818150,
  #w-node-_922e6a3a-eb3d-ed2b-4a43-9130314f33b2-35818150,
  #w-node-ce1c3b8f-32f0-3b3d-b89f-95f2cfa25c3e-35818150,
  #w-node-df2278cb-aa3d-6c0b-d068-4804401f3661-35818157,
  #w-node-df2278cb-aa3d-6c0b-d068-4804401f3662-35818157,
  #w-node-df2278cb-aa3d-6c0b-d068-4804401f3663-35818157 {
    justify-self: center;
  }
  #w-node-_16e9dda3-0464-1b0d-4397-481a10231798-35818157,
  #w-node-_68745dc4-43d2-e58d-c3da-5d5a148a6062-35818157,
  #w-node-_86e241f3-79b6-50b6-956e-a5d7fe037959-35818157,
  #w-node-bdebbab0-40cb-d304-33ac-dd9cdcc7ae34-35818157,
  #w-node-d4bae4a1-710d-ee78-174b-51ce340197ab-35818157,
  #w-node-ed807c77-97c2-11ec-09fa-dbd383f66fe7-35818157,
  #w-node-ff234c79-8faf-1569-885e-37981f20ab60-35818157 {
    order: 9999;
  }
  #w-node-_278fbdaf-0a91-e792-5e2e-c67c52879314-35818157 {
    grid-area: 4/1/5/2;
  }
  #w-node-_956d2ae5-19e7-fbbf-cd8c-17b4dd859f41-35818157 {
    order: 9999;
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}
@media screen and (max-width: 479px) {
  .benenox-grid,
  .crazy-eights-grid,
  .f-header-logo-grid,
  .grid,
  .grid-7,
  .portfolio-details,
  .wireframe-grid {
    grid-template-columns: 1fr;
  }
  .persona-text,
  .wireframe-grid {
    margin-left: 16px;
    margin-right: 16px;
  }
  .portfolio-page-title,
  h2 {
    font-size: 28px;
  }
  .container,
  .flex-container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .button.button-position {
    justify-content: center;
    align-self: auto;
    margin-top: 20px;
  }
  .grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .hero-grid,
  .link-primary {
    display: block;
  }
  .div-block-2,
  .heading-13,
  .heading-4,
  .paragraph-small.text-align-center,
  .portfolio-detail-left,
  .portfolio-detail-right,
  .section-header {
    text-align: center;
  }
  .project-preview-title {
    font-size: 28px;
    line-height: 1.313em;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .about-grid {
    grid-row-gap: 30px;
  }
  .spacing {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .portfolio-hero-section,
  .portfolio-section {
    margin-bottom: 40px;
  }
  .portfolio-details {
    grid-row-gap: 0px;
    padding-right: 0;
  }
  .cv-experience {
    margin-top: 60px;
  }
  .heading-2 {
    margin-bottom: 7px;
  }
  .cv-details {
    margin-top: 0;
    margin-bottom: 0;
  }
  .cv-paragraph {
    margin-top: 0;
    margin-bottom: 24px;
  }
  .cv-education-grid,
  .feature-grid {
    grid-row-gap: 8px;
  }
  .grid-8 {
    margin-top: 20px;
  }
  .portfolio-section-title {
    margin-top: 16px;
  }
  .image-82 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .persona-image {
    min-height: 320px;
  }
  .feature-detail {
    margin-bottom: 8px;
  }
  .margin-48px {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .portfolio-large-image-section {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .mysky-image {
    flex: 1;
  }
  .f-image-cover {
    width: auto;
    height: auto;
  }
  .f-gallery-image-x-tall {
    height: 300px;
  }
  .f-gallery-image-tall {
    height: 180px;
  }
  .f-gallery-image-l {
    height: 320px;
  }
  .f-gallery-image-x-small-square {
    height: 130px;
  }
  .f-gallery-image,
  .f-gallery-image-2 {
    height: 250px;
  }
  .f-container-regular-4 {
    max-width: 280px;
    overflow: hidden;
  }
  .f-header-image-wrapper-top {
    height: 390px;
  }
  #w-node-_02ae4b3a-527f-9abf-4828-e9195fc62895-5ff4204c,
  #w-node-_02ae4b3a-527f-9abf-4828-e9195fc62898-5ff4204c {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
  #w-node-_02ae4b3a-527f-9abf-4828-e9195fc6289b-5ff4204c {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}
@font-face {
  font-family: Materialicons;
  src: url("../fonts/MaterialIcons-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Paul signature";
  src: url("../fonts/Paul-Signature.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Font awesome 5 free 400";
  src: url("../fonts/Font-Awesome-5-Free-Regular-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Font awesome 5 free solid 900";
  src: url("../fonts/Font-Awesome-5-Free-Solid-900.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Font awesome 5 brands 400";
  src: url("../fonts/Font-Awesome-5-Brands-Regular-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
